body {
  background-color: #EDEDEE;
  color: #382D31;
  width: 100%;

  font-size: 15px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.title {
  text-align: center;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a {
  text-decoration: none;
}

.site-content {
  background-color: #EDEDEE;
  background-color:
}

.site-header {
  color: #352F2E;
  display: block;
  box-sizing: border-box;
  padding-left: 20%;
  padding-right: 20%;
  width: 100%;
}

.main-navigation {
  background-color: #352F2E;
  color: #EDEDEE;
}

nav ul {
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: space-around;
    border:1px solid #EDEDEE;
}

nav ul li{
    list-style-type:none;
    padding:10px;
    width:100%;
}

nav ul li:hover, .current-page {
  background-color: #C69C52;
}

nav ul li a {
    text-decoration:none;
    list-style-type:none;
    width:100%;
}

nav a:link, nav a:visited {
  color: #EDEDEE;
}
