/* General Elements */
body {
  background-color: #EDEDEE;
  color: #382D31;
  width: 100%;

  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

h1 {
  letter-spacing: .32em;
}

div {
  display: block;
}

h4 {
  text-align: center;
}

p {
  color: black;
  font-size: 15px;
  text-align: justify;
}

/* Links */

a {
  text-decoration: none;
}

a:not(nav ul li a),
a:visited:not(nav ul li a) {
  color: #C69C52;
}

a:hover:not(nav ul li a) {
  text-decoration: underline;
}

a:active:not(nav ul li a) {
  color: #382D31;
}

/* Content */
.title {
  text-align: center;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.website {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}

.site-header{
  box-sizing: border-box;

  min-height: 200px;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}

.main-navigation {
  background-color: #352F2E;
  color: #EDEDEE;
}

.site-content {
  box-sizing: border-box;
  min-height: 200px;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}

#latest-blog {
  width: 75%;
}

#preview-content {
  max-height: 125px;
  overflow: hidden;
}

#introduction {
  width: 75%;
  align: center;
}

/* Navigation */

nav ul {
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: space-around;
  border:1px solid #EDEDEE;
}

nav ul li{
  list-style-type:none;
  padding:10px;
  width:100%;
}

nav ul li:hover, .current-page {
  background-color: #C69C52;
}

nav ul li a {
  text-decoration:none;
  list-style-type:none;
  width:100%;
}

nav a:link, nav a:visited {
  color: #EDEDEE;
}
